.vs/
.vscode/
.idea/

*.rsuser
*.suo
*.user
*.userprefs
*.sln.docstates
*.cache
*.log
*.tmp
*.pdb
*.dll
*.md.backup

**/bin/
**/obj/
artifacts/
Mods_legacy/
steam workshop files/
mods/Assistant Manager/assets/Textures/AssistantManager_Female_Pro.png
mods/Assistant Manager/assets/Textures/AssistantManager_Female.png
mods/Assistant Manager/assets/Textures/AssistantManager_Male_Pro.png
mods/Assistant Manager/assets/Textures/AssistantManager_Male.png
